<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Tweets</title>
</head>
<body>
{{#tweets}}
<p>{{.created_at}} <a href="https://twitter.com/0918nobita/status/{{.id}}" rel="noopener noreferrer" target="_blank">Link</a><br>{{.full_text}}</p>
{{/tweets}}
</body>
</html>
